*{
  margin: 0;
}
@media (max-width:900px) {
  .titulo { /* se coloca sombra,tamaño al título  */
    text-shadow:2px 2px #02010a;
    font-size: 1.8vw;
    color: white;
  }
  .titulo h1{
    width: 100%;
  }
  div[class^="enlace"]{
    flex-basis: 33.3%;
  }

  .titulo ,.contenedor-enlaces{ /* como se uso bloques , se organizan */
    display:flex;
    flex-flow: row;
  }
  .contenedor-imagenes{
    background-color:#82c3a6;
    display: flex;
    flex-direction: column;
  }
  .imagen2,.imagen3{
    background-color:#d5c75f;
    border: 1px;
    flex-basis: 40%;
    padding:20%;
    padding-top: 1em;
    padding-bottom: 1em;
  }
  .contenedor-efectos{
    display:flex;
    flex-direction: column;
    background-color: #d5c75f;
  }
  div[class*="picture"]{
    padding-left:  10%;
    padding-right: 10%;
    padding-top: 2vh;
  }
  footer{
      height: 120vw;
  }
  .contenedor-pie{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .contenedor-pie>div{
    font-size: 2.1vh;
    box-sizing: border-box;
  }
}
@media (min-width:901px) {
  .titulo { /* se coloca sombra,tamaño al título  */
    text-shadow:2px 2px #02010a;
    font-size: 1.8vw;
    width: 60%;
    color: white;
    text-align: left;
  }
  div[class^="enlace"]{
    display: inline-flex;
    padding-right:2em;
    flex-basis: 33.3%;
  }
  .titulo ,.contenedor-enlaces{ /* como se uso bloques , se organizan */
    display:inline-flex;
  }
  .contenedor-imagenes{
    background-color:#82c3a6;
    display: flex;
    flex-wrap: wrap;
  }
  .imagen2,.imagen3{
    background-color:#d5c75f;
    border: 1px;
    flex-basis: 40%;
    padding:5%;
    padding-top: 1em;
    padding-bottom: 1em;
  }
  .contenedor-efectos{
    display:flex;
    flex-wrap:wrap;
    background-color: #d5c75f;
  }
  div[class*="picture"]{
    flex-basis: 28%;
    padding-left:  2%;
    padding-right: 2%;
    padding-top: 2vh;
    padding-bottom: 2vh;
  }
  .contenedor-pie{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row;
  }
  .contenedor-pie>div{
    flex-basis: 25%;
    font-size: 1.9vw;
    box-sizing: border-box;
  }
}
@-webkit-keyframes slidein {
    0%{
      margin-top: 150%;
    }
    60%{
      margin-top: -5%;
    }
    100%{
      margin-top: 0%;
    }
}
body{
  background-color:#02010a;
  font-family:"Dancing Script";
  text-align: center;
  margin: 0;
}
header{
  background-color: #5b7989;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  animation-name: slidein;
  animation-duration: 1s;
}
#contenido{
  max-width: 900px;
  margin: 0 auto;
}
div[class*="enlace"] a{/* dejamos el espaciado de los enlaces  */
  font-size: 2.4vw;
  text-decoration: none;
  color: white;
}
.imagen1 img,.imagen2 img,.imagen3 img{
  width:100%;
}
.contenedor-imagenes{
  background-color:#82c3a6;
  display: flex;
  flex-wrap: wrap;
}
.imagen1{
  flex-basis: 100%;
  padding: 20%
}
div[class*="imagen"] img{
  align-items: center;
  -webkit-box-shadow: 2px 2px 2px #02010a;
}
.imagen3 img{
  width: 85%;
}
.imagen2 img:hover{
  transform: rotate(10deg);
  -webkit-box-shadow: 2px 2px 2px #82c3a6;
  transition-duration: 1s;
}
.imagen3 img:hover{
  transform: translate(20px,-5px);
  transition-duration: 1s;
  -webkit-box-shadow: 2px 2px 2px #82c3a6;
}
footer{
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #C6d5c5;
}

div[class*="picture"] img{
  width: 100%;
}
.picture1 img{
  -webkit-filter:blur(10px);
  filter: blur(10px);
}
.picture2 img,.picture4 img,.picture6 img{
  -webkit-filter:grayscale(100%);
  filter: grayscale(100%);
}
.picture3 img{
  -webkit-filter:sepia(90%);
  filter:sepia(90%);
}
